@import "common";
@import "base";

#container{
	width: 100%;
	background: #EFEFEF;
	.page_top{
		height: 1.40625rem;
	    background: #f9f9f9;
	    border-bottom: 0.03125rem solid #e8e8e8;
	    font-size: 32px;
	    line-height: 1.40625rem;
	    text-align: center;
	    .back{
	    	position: absolute;
		    left: 0.46875rem;
		    height: 1.40625rem;
		    line-height: 1.40625rem;
		    display: block;
		    color: #999;
		    #tou{
		    	font-size: 32px;
		    }
	    }
	    .title{
	    	color: #666;
	    }
	}
	//每一次新增的个人信息的样式
	.product{
	    height: 1.5625rem;
	    padding: 0 0.3125rem;
	    border-bottom: 0.03125rem solid #f0f0f0;
	    border-top: 0.03125rem solid #f0f0f0;
	    margin-top: 0.4375rem;
	    background: #fff;
	    .icon{
	    	width: 10%;
	    	height: 1.45rem;
	    	float: left;
			padding-left: 0.15625rem;
	    	i{
	    		font-size: 40px;
	    		line-height: 1.45rem;
	    		color: green;
	    		font-weight: bold;
	    	}
	    }
	    .user{
	    	height: 1.45rem;
	    	width: 70%;
	    	float: left;
	    	.adds{
	    		height: 0.625rem;
			    width: 100%;
			    color: #999;
			    line-height: 0.625rem;
			    font-size: 22px;
			    overflow: hidden;
	    	}
	    	.users{
			 	height: 0.8375rem;
			    width: 100%;
			    color: #666;
			    line-height: 0.8375rem;
			    font-size: 30px;
			    overflow: hidden;
	    	}
	    }

	}
	//新增地址
	.new_address{
		// display: none;
		width: 100%;
		margin-top: 0.46875rem;
	    height: 1.40625rem;
	    line-height: 1.40625rem;
	    color: #999;
	    font-size: 24px;
	    background: #fff;
		.add{
			position: absolute;
		    left: 0.46875rem;
		    height: 1.40625rem;
		    line-height: 1.40625rem;
		    display: block;
		    color: #999;
		    font-size: 60px;	    
	    }
	    .add_address{
	    	color: #666;
	    	font-size: 32px;
	    	margin-left: 15%;
	    }
	}
	//填写资料
	.address_main{
		display: none;
		height: auto;
	    width: 100%;
	    padding: 0px 3%;
	    border-bottom: 1px solid #f0f0f0;
	    border-top: 1px solid #f0f0f0;
	    margin-top: 14px;
	    background: #fff;
	    .list{
	    	height: 1.375rem;
		    width: 100%;
		    border-bottom: 0.03125rem solid #f0f0f0;
		    line-height: 1.375rem;
		    input{
		    	float: left;
			    height: 1.375rem;
			    width: 100%;
			    padding: 0px;
			    margin: 0px;
			    border: 0px;
			    outline: none;
			    font-size: 30px;
			    color: #666;
			    padding-left: 0.15625rem;
		    }
		    #sel-provance{
		    	border: none;
			    height: 0.78125rem;
			    width: 100%;
			    color: #666;
			    font-size: 30px;
		    }
	    }
	}
	.address_btn1{
		display: none;
		height: 1.375rem;
	    margin: 0.4375rem 0.3125rem;
	    background: #ff4f4f;
	    border-radius: 0.125rem;
	    text-align: center;
	    font-size: 30px;
	    line-height: 1.375rem;
	    color: #fff;
	}
	.address_btn2{
		display: none;
		height: 1.375rem;
	    margin: 0 0.3125rem 0;
	    background: #ddd;
	    border-radius: 0.125rem;
	    text-align: center;
	    font-size: 30px;
	    line-height: 1.375rem;
	    color: #666;
	    border: 0.03125rem solid #d4d4d4;
	}
}