/*重置样式表*/
/*==========样式重置===========*/
html,body{
	width: 100%;
	height: 100%;
}
html{
	font-size: 64px;
	// font-family: 'Microsoft YaHei';
	// font-family: 'Microsoft YaHei',"Comic Sans MS","幼圆","黑体",sans-serif;
	//说明1rem=100px
}
body,h1,h2,h3,h4,h5,h6,p,a,input,img,ul,li,ol,dl,dt,dd{
	padding:0;
	margin:0;
}
ul,ol{
	list-style:none;
}
img{
	display:block;
	border:0;
}
input{
	outline:none;
}
body{
	font-size:12px;
}
i,em{
	font-style:normal;
}
a{
	text-decoration:none;
	color:#000;
}
img{
	border:0;
	display:block;	
}
*{
	box-sizing:border-box;
}
