@import 'common';
@import 'base';
@import 'footer';

//返回顶部的点击按钮
.toTop{
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background: #888888;
	position: fixed;
	right:0.375rem;
	bottom: 1.25rem;
	opacity: 0.5;
	display: none;
	text-align: center;
	z-index: 100;
	.iconfont{
		line-height: 1.25rem;
		font-size: 25px;
		color: #fff;
		
	}
}
//首页的头部
#container{
		.searchFirst{
			position: absolute;
			padding-left: 10%;
			width: 100%;
			height: 1.125rem;
			z-index: 99;
			.iconfont{
				position: absolute;
				z-index: 100;
				top:25%;
				left: 11%;
				color: #ccc;

			}
			.searchfix{
				width: 25%;
				height: 0.8125rem;
				border-radius: 0.46875rem;
				border:0;
				margin-top: 0.15625rem;
				text-align: center;
			}
		}
	
	//首页的中心内容的样式
	.main{
		background:#F5F5F5;
		flex:1;
		overflow-y: auto;
		.banner{
			height: 5.1875rem;
			.swiper-slide{
				img{
					width: 100%;
					height: 100%;
				}
			}
			.swiper-pagination{
				.swiper-pagination-bullet-active{
					background:$main_color;
				}
			}
		}
		.nav-list{
			height: 2.09375rem;
			display: -webkit-flex;
			background: #fff;
			padding-top: 0.15625rem;
		}
		.first{
			flex:1;
			text-align: center;
			a .iconfont{
				font-size: 28px;
				color: #FDC132;
			}
			p{
				color: #BABABA;
			}
		}
		.second{
			flex:1;
			text-align: center;
			a .iconfont{
				font-size: 28px;
				color: #FE7676;
			}
			p{
				color: #BABABA;
			}
		}
		.third{
			flex:1;
			text-align: center;
			a {
				.iconfont{
				font-size: 28px;
				color: #DBEA69;
				}
			}
			p{
				color: #BABABA;
			}
		}
		.forth{
			flex:1;
			text-align: center;
			a .iconfont{
				font-size: 28px;
				color: #14E0AD;
			}
			p{
				color: #BABABA;
			}
		}
	}
	//限时抢购
	.false-sale{
		height: 1.125rem;
		background: #fff;
		margin-top: 0.1875rem;
		line-height: 1.125rem;
		h3{
			font-weight: 200;
			width: 48%;
			float: left;
			margin-left: 0.15625rem;
			span{
				color: $main_color;
			}
		}
		.sale-time{
			height: 1.125rem;
			width: 30%;
			float: left;
			padding-top: 0.09375rem;
			span{
				display: inline-block;
				width: 0.6875rem;
				height: 0.625rem;
				border:0.03125rem solid #999;
				font-size: 0.375rem;
				line-height: 0.625rem;
				text-align: center;
				color: $main_color;
			}
		}
		a{
			// display: block;
			margin-left: 0.625rem;
			color: #7E7E7E;
		}
	}
	//限时抢购商品
	.time_product{
		height: 4.5rem;
		background: #fff;
		ul{
			display: -webkit-flex;
			height: 4.5rem;
			li{
				flex:1;
				img{
					width: 2.5rem;
					height: 2.5rem;
				}
				p{
					text-align: center;
				}
				.save{
					color: red;
				}
			}
		}
	}

	//专区公共样式
	.prefectureDiv{
		background: #fff;
		margin-top: 0.15625rem;
		h3{
			font-weight: 200;
			height: 1.125rem;
			width: 96%;
			float: left;
			margin-left: 0.15625rem;
			line-height: 1.125rem;
			color: $main_color;
			a{
				float: right;
				color: #7E7E7E;
			}
		}
		.picture1 a{
			float: left;
			display: block;
			margin-left: 0.15625rem;
		}
		.picture1{
			.first{
				width: 63.5%;
				height: 4.53125rem;
				box-shadow: 0.03125rem 0.03125rem 0.03125rem  #ccc;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.second{
				width: 31%;
				height: 4.53125rem;
				box-shadow: 0.03125rem 0.03125rem 0.03125rem  #ccc;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.third{
				width: 31%;
				height: 4.59375rem;
				margin-top: 0.3125rem;
				box-shadow: 0.03125rem 0.03125rem 0.03125rem  #ccc;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.forth{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.fifth{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
		}
	}


	//热门专区
	.hot_product{
		height: 9.9375rem;
		background: #fff;
		margin-top: 0.1875rem;
		h3{
			font-weight: 200;
			height: 1.125rem;
			width: 96%;
			float: left;
			margin-left: 0.15625rem;
			line-height: 1.125rem;
			a{
				float: right;
				color: #7E7E7E;
			}
		}
		.picture a{
			float: left;
			display: block;
			margin-left: 0.15625rem;
		}
		.picture{
			.first{
				width: 63.5%;
				height: 4.53125rem;
				img{
					width: 6.34375rem;
					height: 4.21875rem;
				}
			}
			.second{
				width: 31%;
				height: 4.53125rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.third{
				width: 31%;
				height: 4.53125rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.forth{
				width: 31%;
				height: 4.53125rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.fifth{
				width: 31%;
				height: 4.53125rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
		}
	}
	//套套专区
	.condom_product{
		height: 10rem;
		background: #fff;
		h3{
			font-weight: 200;
			height: 1.125rem;
			width: 96%;
			float: left;
			margin-left: 0.15625rem;
			line-height: 1.125rem;
			a{
				float: right;
				color: #7E7E7E;
			}
		}
		.pictures a{
			float: left;
			display: block;
			margin-left: 0.15625rem;
		}
		.pictures{
			.first{
				width: 63.5%;
				height: 4.53125rem;
				img{
					width: 6.34375rem;
					height: 4.21875rem;
				}
			}
			.second{
				width: 31%;
				height: 4.53125rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.third{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.forth{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.fifth{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
		}
	}
	//女性专区
	.female_product{
		height: 10rem;
		background: #fff;
		h3{
			font-weight: 200;
			height: 1.125rem;
			width: 96%;
			float: left;
			margin-left: 0.15625rem;
			line-height: 1.125rem;
			a{
				float: right;
				color: #7E7E7E;
			}
		}
		.picture1 a{
			float: left;
			display: block;
			margin-left: 0.15625rem;
		}
		.picture1{
			.first{
				width: 63.5%;
				height: 4.53125rem;
				img{
					width: 6.34375rem;
					height: 4.21875rem;
				}
			}
			.second{
				width: 31%;
				height: 4.53125rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.third{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.forth{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.fifth{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
		}
	}
	//男性专区
	.male_product{
		height: 10.5375rem;
		background: #fff;
		h3{
			font-weight: 200;
			height: 1.125rem;
			width: 96%;
			float: left;
			margin-left: 0.15625rem;
			line-height: 1.125rem;
			a{
				float: right;
				color: #7E7E7E;
			}
		}
		.picture2 a{
			float: left;
			display: block;
			margin-left: 0.15625rem;
		}
		.picture2{
			.first{
				width: 63.5%;
				height: 4.53125rem;
				img{
					width: 6.34375rem;
					height: 4.21875rem;
				}
			}
			.second{
				width: 31%;
				height: 4.53125rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.third{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.forth{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
			.fifth{
				width: 31%;
				height: 4.59375rem;
				img{
					width: 3.125rem;
					height: 4.21875rem;
				}
			}
		}
	}
	//大家都在买
	.you_like{
		// height: 29.375rem;
		background: #F0F0F0;
		h3{
			height: 1.25rem;
			background: #F0F0F0;
			line-height: 1.25rem;
			text-align: center;
			font-weight: bold;
			color: #999999;
		}
		.prlist{
			float: left;
		    display: block;
		    height: 7.34375rem;
		    width: 48%;
		    margin: 0.8%;
		    background: #fff;
		    box-shadow: 0.03125rem 0.03125rem 0.03125rem 0.03125rem #ccc;
		    position: relative;
		    a img{
		    	width: 100%;
		    	height: 4.75rem;
		    }
		    .detail{
				text-indent: 1%;
				margin-top: 0.15625rem;
		    }
		    .price{
		    	color: red;
		 		position: absolute;
		    	margin-left: 0.15625rem;
		    	bottom: 0.46875rem;
				left: 0.15625rem;
		    	.sale{
		    		color: #ccc;
		    		margin-left: 1.40625rem;
		    	}
		    }
		}
	}
}

//新的搜索框的页面
.warp{
	width: 100%;
	background: #eeeeee;
	height: 100%;
	display: none;
	.newWwarp{
		height: 1.4375rem;
		background: #fff;
		display: -webkit-flex;
		.close{
			width: 15%;
			height: 1.4375rem;
			padding-left: 2%;
			.iconfont{
				font-size: 30px;
				color: #999999;
				line-height: 1.4375rem;
			}
		}
		.searchs{
			padding-top: 0.3125rem;
			width: 85%;
			.searchText{
				width: 90%;
				height: 0.8125rem;
				border: 0;
				border-radius: 0.15625rem;
				background: #F2F2F2;
				text-indent: 5%;
			}
		}
		.searchSubmit{
			position: absolute;
			right:10%;
			top: 0.46875rem;
			color: #999999;

			&>a{
				width: 0.5rem;
				height: 0.5625rem;
			}
		}

	}
	.hotSearch{
		width: 100%;
	    background: #eeeeee;
	    height:0.78125rem;
	    line-height: 0.78125rem;
	    border-top: 1px solid #c7c7c7;
	    color: #666;
	    text-align: left;
	    text-indent: 2%;
	    clear: both;
	}
	.searchKeyword{
		width: 100%;
	    height: 2.5rem;
	    background: #fff;
	    padding:2% 15%;
	    a{
	    	display: block;
	    	width: 1.875rem;
	    	height: 0.6875rem;
	    	border:0.03125rem solid #ccc;
	    	border-radius: 0.625rem;
	    	float: left;
	    	text-align: center;
	    	line-height: 0.625rem;
	    	font-size: 12px;
	    	margin-left: 0.3125rem;
	    	margin-bottom: 0.3125rem;
	    	color: #999999;
	    }
	}
}
.footer .shouye a i,.footer .shouye a span{
	color: $main_color;
}