@import 'base';
@import 'common';


body{
	background:#f2f2f2;
	// padding-top:3.28125rem;
}
article form{
	width:100%;
	// margin-top:3.28125rem;
	position:relative;
	top:3.28125rem;
	div{background:#fff;}
	.phone,.password{
		height:2.0rem;
		width:100%;
		padding-left:5.5%;
		border:none;
		font-size:12px;	
	}
	hr{
		margin:0;
		margin-left:5.5%;
		margin-right:5.5%;
	}
	.phone{
		border-top:0.03125rem solid #ccc;
	}
	.password{
		border-bottom:0.03125rem solid #ccc;
	}
	p{
		margin-top:0.59375rem;
		font-size:12px;
		color:#65bcea;
		.rapidRegistration{
			margin-left:5.5%;
		}
		.findPassword{
			margin-right:5.5%;
			float:right;
		}
	}
	.back{
		float:left;
		margin-left:5.5%;
		color:#ccc;
	}
	.loginCode{
		float:right;
		margin-right:5.5%;
	}
	.login_btn{
		width:92%;
		height:1.25rem;
		margin-top:0.859375rem;
		margin-left:4%;
		margin-right:4%;
		color:#fff;
		background:#00b5ca;
		border:none;
		border-radius:0.078125rem;
		font-size:12px;
	}

}


