@import 'base';
@import 'common';
// html {font-size: 120px!important;}
body{
	background-color: #F8F8F8;
	color:#666;
}
// 顶部
header{
	height: 1.40625rem;
	border-bottom: 1px solid red;
	h3{
		display: inline-block;
		font-weight: normal;
		font-size:16px;
		line-height: 1.40625rem;
		margin-left: 0.171875rem;
		.iconfont{
			font-size: 14px;
		}
	}
	p{
		font-size: 14px;
		float: right;
		line-height: 0.484375rem;
		margin:0.109375rem 0 0 0.25rem;
		padding:0 0.15625rem;
		border:1px solid #E3E3E3;
		border-radius: 0.078125rem;
	}
}
// html {
// 	font-size: 62.5%;
// }

// @media only screen and (min-width: 481px) {
// html {
// font-size:94%!important;
// }
// }

// @media only screen and (min-width: 561px) {
// html {
// font-size:109%!important;
// }
// }

// @media only screen and (min-width: 641px) {
// html {
// font-size:125%!important;
// }

// body {
// max-width: 640px;
// }
// }
